* {
    padding: 0; 
    margin: 0;
    box-sizing: border-box;

    &:after {
        box-sizing: border-box;
    }
    &:before {
        box-sizing: border-box;
    }
}

:focus,:active {
    outline: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

body {
    height: 100%;
    font-size: 18px;
    line-height: 28px;
    font-family: 'Roboto', sans-serif;
    color: #323649;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
    font-family: inherit;
}

a {
    color: #323649;
    text-decoration: none;
    &:visited {
        text-decoration: none; 
    }
    &:hover {
        text-decoration: none;
    }
    &:focus {
        outline: none;
    }
    &:active {
        outline: none;
    }
}

ul li {
    list-style: none;
}

img {
    background-repeat: no-repeat;
}

.page {
    max-width: 1360px;
    margin: 0 auto;
}

.container {
    width: 100%;
    max-width: 1360px;
    margin: 0 auto;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 24px;
    border-radius: 8px;
    height: 48px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    background: #F3336C;
    color: #FFFFFF;
}

.highlighted {
    color: #F3336C;
}

.section__header {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin: 0 auto;
    max-width: 780px;
}

.section__header--left {
    align-items: unset;
    margin: unset;
}

.section__title {
    font-size: 40px;
    line-height: 52px;
    margin-bottom: 16px;
    text-align: center;
}

.section__title--left  {
    text-align: unset;
}

.section__text {
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #666A77;
}

.section__text--left  {
    text-align: unset;
}

.cards__suptitle {
    font-weight: 300;
    line-height: 26px;
    color: #FFFFFF;
}

.cards__title {
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    line-height: 34px;
    color: #FFFFFF;
    margin: 10px auto;
}

.cards__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #F0F0F6;
}

.suptext {
    font-weight: 400;
    font-size: 24px;
    line-height: 38px;
    color: #323649;
}

/* header */
.header {
    padding-top: 44px;
    z-index: 5000;

    .header__inner {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;

        .header__button {
            max-width: 232px;
            margin-left: 138px!important;
        }
    }
    
    .nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        .nav__link {
            margin: 0 12px;
            font-weight: 700;
            font-size: 16px;
            line-height: 24px;
        }
    }
}

/* intro */
.intro {
    //height: 100vh;
    margin: 0 auto;
    max-width: 1128px;
    padding-top: 136px;
    
    .intro__inner {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;

        .intro__title {
            text-align: center;
            font-size: 56px;
            line-height: 68px;
            margin-bottom: 48px;
        }
    }

    .intro__button {
        max-width: 208px;
    }
}

/* devices */
.devices {
    margin-top: 110px;
    margin-bottom: 190px;

    .devices__inner {
        position: relative;

        .devices__item {
            display: block;
            height: auto;
        }

        .devices__item--mobile {
            position: absolute;
            right: 0px;
            bottom: -60px;
        }
    }
}

/* products */
.products {
    margin-bottom: 150px;

    .cards {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-between;
        max-width: 1380px!important;
        margin-top: 40px;

        .cards__item {
            max-width: 435px;
            max-height: 270px;
            border-radius: 32px;
            padding: 40px;
            
            &:nth-child(1) {
                background: linear-gradient(70.41deg, #A038BD 8.21%, #7A1B95 70.54%);
                box-shadow: 24px 24px 48px rgba(123, 28, 150, 0.4);
            }
            &:nth-child(2) {
                background: linear-gradient(72.04deg, #F3336C 7.08%, #D62056 76.14%);
                box-shadow: 24px 24px 48px rgba(191, 7, 61, 0.4);
            }
            &:nth-child(3) {
                background: linear-gradient(70.68deg, #5331B3 7.33%, #3F2293 77.56%);
                box-shadow: 24px 24px 48px rgba(56, 28, 136, 0.4);
            }

            .detail {
                display: flex;
                margin-top: 50px;
                align-items: center;
                .detail__text {
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 24px;
                    color: #FFFFFF;
                }

                .detail__button {
                    margin-left: 15px;
                    width: 40px;
                    height: 24px;
                    background: url(/images/products/arrow.png);
                }
            }
        }
    }
}

/*partners*/
.partners {
    margin-bottom: 150px;

    .partners__container {
        display: flex;
        justify-content: space-between;
    }

    .partners__section {
        max-width: 400px;
        align-items: flex-start;
        margin: initial;
    }

    .partners--grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        max-width: 1380px!important;
        row-gap: 60px;
        column-gap: 45px;
        align-items: center;

        .partners__item {
            display: grid;
            justify-content: center;
            
        }
    }
}

/*problems*/
.problems {

    .problems__container {
        

        .problems__list {
            display: flex;
            flex-flow: row wrap;
            justify-content: baseline;
            row-gap: 56px;
            column-gap: 55px;
            margin-top: 40px;
            margin-bottom: 120px;

            .problems__item {
                max-width: 408px;
                
                .cards__title--problems {
                    margin: 5px 0 8px 0;
                    color: #323649;
                }
                .section__text--problems {
                    text-align: inherit;
                    font-weight: 400;
                    color: #666A77;
                }
            }
        }
    }
}

/*help-desk*/
.help-desk {
    max-height: 640px;
    max-width: 1360px;
    margin-bottom: 104px;
    
    .help-desk__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.help-desk__advatages {
    display: flex;
    flex-flow: column nowrap;
    max-width: 590px;
}

.advantages__item {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin-top: 20px;
}

.check__logo {
    max-height: 24px;
    margin-right: 16px;
}

/*services*/
.services {
    display: flex;
    justify-content: baseline;
    margin-bottom: 120px;

    .services__container {
        display: flex;
        align-items: center;

        .services__list {
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            max-width: 600px;
            margin-right: 167px;

            .services__row {
                display: flex;
                align-items: center;
                gap: 25px;

                .services__logo {
                    max-width: 160px;
                    max-height: 160px;
                }

                .services__logo--center {
                    max-width: 75px;
                    max-height: 48px;
                    margin: 0 40px;
                }
            }
        }
    }
}

/* feedback */

.feedback {
    max-height: 460px;
    margin-bottom: 120px;
}

.feedback__title {
    max-width: 535px;
}

.feedback__slider {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    position: relative;

    margin-top: 44px;
}

.feedback__slider--arrows {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    position: absolute;
    right: 0;
    max-width: 108px;
}

.feedback__slider--arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 1px solid #E3E3E7;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    &:hover {
        background-color: #F3336C;
        border: 1px solid #F3336C;
    }
}

.feedback__slider--arrow-left {
    position: absolute;
    right: 10px;
    bottom: 110px;
    transition: background-color .3s linear, border .3s linear;

    
}

.feedback__slider--arrow-right {
    position: absolute;
    right: -60px;
    bottom: 110px;
    transform: rotate(180deg);
    background: #FFFFFF;


}

.feedback__slider--items {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.feedback__slider--item {
    display: flex;
    flex-flow: column nowrap;
    margin-right: 80px;
}

.cards__text--feedback {
    color: #323649;
    margin-top: 12px;
    margin-bottom: 16px;
    max-height: 120px;
    width: 616px;
}

.cards__text--feedback-title {
    font-weight: 700;
    color: #323649;
    margin-bottom: 16px;
}

/*blog*/
.blog {
    max-height: 306px;
    margin-bottom: 120px;
}

.blog__container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

.blog__title {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
    max-width: 1600px;
}

.highlighted__link {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}

.blog-extansion__link {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    width: 131px;
    max-height: 24px;
}

.blog__list {
    display: flex;
    flex-flow: row nowrap;
    gap: 64px;
    height: 218px;
}

.blog__item {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    max-width: 400px;
}

.cards__title--blog {
    color: #323649;
    max-width: 360px;
    margin: unset;
}

.cards__text--blog {
    color: #666A77;
}

.blog__footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    max-width: 244px;
}

.footer__title {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}

.footer__title--link {
    font-weight: 400;
}

.article__date {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #9B9DAA;
}

/*form-demo*/
.form-demo {

}

.form-demo__container {
    padding: 96px 117px 96px 120px;
    background: #040931;
    border-radius: 48px;
}

.form-demo__inner {
    display: flex;
    justify-content: space-between;
}

.section__header--form {
    justify-content: space-between;
    max-width: 500px;
    height: 272px;
}

.highlighted__suptitle {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 8px;
}

.form-demo__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    color: #FFFFFF;
}

.suptext__form {
    color: #F0F0F6;
}

.form-demo__block {
    padding: 40px 48px 40px;
    background: #FFFFFF;
    border-radius: 24px;
    max-width: 480px;

}

.form-demo__block--inner {
    display: flex;
    flex-flow: column nowrap;
    gap: 24px;

}

.cards__title--form-demo {
    margin: unset;
    color: #323649;
    max-width: 260px;
}

.demo-form__container {
    
}

.demo-form__inputs {
    display: flex;
    flex-flow: column nowrap;
    gap: 24px;
    margin-bottom: 24px;
}

.form-demo__input {
    padding: 12px 16px;
    border: 1px solid #E3E3E7;
    border-radius: 8px;
    height: 48px;
    font-family: inherit;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #9B9DAA;

}

.demo-form__button {

}

.agreement {
    display: flex;
    margin-bottom: 32px;
    
}

.agreement-checkbox {
    width: 18px;
    height: 18px;
    border-radius: 2px ;
    border: 2px solid #C4C4C4;
    cursor: pointer;
    
}

.agreement-label {
    max-width: 364px;
    padding-left: 14px;   
}

.agreement-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #666A77;
}

.agreement-text-highlighted {
    text-decoration: underline;
    color: #F3336C;
    
    &:hover {
        text-decoration: underline;
    }
}



.form-demo-highlighted {

}



.button__text{
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF; 
}
.title {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 48px;
    line-height: 53px;
    color: #404040;
    padding-bottom: 18px;
}
.sub__title {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 26px;
    line-height: 26px;
    color: #000000;
    margin: 36px 0 16px 0;
}
.text {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
}

/* head */
.logo{
    height: 50px;
    cursor: pointer;
}  
.head{
    //! УБРАТЬ sass --watch source/scss/style.scss:source/css/style.css 
    //! 
    max-height: 928px;
    display: block;
    justify-content: space-between;
    margin: 0 184px;
    .header__wrapper{
        max-height: 136px;
        padding-top: 75px;
    }
    .header{
        display: flex;
        justify-content: space-between;
        align-content: center;
        width: 100%;
        .header__menu{
            max-height: 50px;
            display: flex;
            align-content: center;
    
            .header__menu--list{
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
                align-items: center;
                
                .header__link{
                    display: flex;
                    padding-left: 60px;
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 600;
                    font-size: 24px;
                    line-height: 20px;
                    color: #000000;
                    text-align: center;
                }
            }
        }
    }               
}
.header__border{
    margin-top: 38px;
    
}

/* head */

/* intro_wrapper */

.intro__wrapper {
    display: flex;
    justify-content: space-between;
    flex-flow: column wrap;
    .intro__block {
        margin: 124px 184px 87px;
        
        .intro__title {
            font-family: 'Scada', sans-serif;
            font-weight: 700;
            font-size: 202px;
            line-height: 190px;
            color: #000000;
            letter-spacing: 0.01em;
            
        }
        .intro__offer {
            display: flex;
            flex-flow: row nowrap;
            margin-top: 72px;
            .intro__image{
                max-width: 1024px;
            }
            .offer {
                display: flex;
                flex-flow: column nowrap;
                margin: 74px 52px;
                max-width: 365px;
                .offer__button {
                    margin-top: 32px;
                    padding: 28px 57px;
                    background: #000000;
                    border: 1px solid #000000;
                    box-sizing: border-box;
                    color: #FFFFFF;
                    font-family: Montserrat;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 15px;
                        line-height: 24px;
                }
            }
            
        }
    }
    
}
.about__block {
    margin: 148px auto 68px;
    max-width: 1288px;
    
}
.about__text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 49px;
    color: #000000;
}
.about__grid {
    max-width: 1112px;
    margin-top: 68px;
}


/* intro_wrapper */

.secetion {
    padding: 136px 184px 176px ;
    background-color: #F1F1F1;
}

.courses__content {
    padding-bottom: 91px;
    font-family: 'Jura', sans-serif;
    font-weight: bold;
    font-size: 64px;
    line-height: 76px;
    color: #000000;
    }
    
    .courses__border {
        margin: 68px 184px 0;
        padding-bottom: 24px;
    }
    .courses__block {
        margin: 24px auto 0;
        .courses-item {
            padding-top: 24px;
            display: flex;
            justify-content: space-between;
            flex-flow: column wrap;
        }
        .about__courses {
            display: flex;
            justify-content: space-between;
            flex-flow: row nowrap;
            width: auto;
            margin-bottom: 68px;
            .courses__title {
                font-family: 'Jura', sans-serif;
                font-style: normal;
                font-weight: 600;
                font-size: 40px;
                line-height: 47px;
                color: #000000;   
            }
            .courses__text {
                max-width: 760px;
                font-family: 'Montserrat', sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 24px;
                line-height: 150%;
            }
        }
    }
    

    /* */
    .start__stading-block {
    width: 1920px;
    height: 602px;
    background-color: #000000;
    .start__stading{
        display: flex;
        flex-flow: column nowrap;
        .start__stading-title {
            padding-top: 167px;
            max-width: 988px;
            margin: 0 auto;
            text-align: center;
            font-family: 'Jura', sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 64px;
            line-height: 64px;
            color: #FFFFFF;
        }
        .form__button {
            background: #FFFFFF;
            height: 80px;
            margin: 60px auto;
            width: 350px;
            .form__button-text {
                font-family: 'Montserrat', sans-serif;
                font-weight: normal;
                font-size: 20px;
                line-height: 24px;
                color: #000000;
                width: 235px;
            }
        }
    }
    }
.footer__courses {
    background: #F1F1F1;
    height: 100px;
    margin-bottom: 38px;
    .footer__text {
        text-align: center;
        padding-top: 38px;
        font-family: 'Montserrat', sans-serif;
        font-weight: normal;
        font-size: 20px;
        line-height: 24px;
        color: #464646;
    }
}
