* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

body {
  height: 100%;
  font-size: 18px;
  line-height: 28px;
  font-family: 'Roboto', sans-serif;
  color: #323649;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  font-family: inherit;
}

a {
  color: #323649;
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:focus {
  outline: none;
}

a:active {
  outline: none;
}

ul li {
  list-style: none;
}

img {
  background-repeat: no-repeat;
}

.page {
  max-width: 1360px;
  margin: 0 auto;
}

.container {
  width: 100%;
  max-width: 1360px;
  margin: 0 auto;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 12px 24px;
  border-radius: 8px;
  height: 48px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  background: #F3336C;
  color: #FFFFFF;
}

.highlighted {
  color: #F3336C;
}

.section__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  max-width: 780px;
}

.section__header--left {
  -webkit-box-align: unset;
      -ms-flex-align: unset;
          align-items: unset;
  margin: unset;
}

.section__title {
  font-size: 40px;
  line-height: 52px;
  margin-bottom: 16px;
  text-align: center;
}

.section__title--left {
  text-align: unset;
}

.section__text {
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #666A77;
}

.section__text--left {
  text-align: unset;
}

.cards__suptitle {
  font-weight: 300;
  line-height: 26px;
  color: #FFFFFF;
}

.cards__title {
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  line-height: 34px;
  color: #FFFFFF;
  margin: 10px auto;
}

.cards__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #F0F0F6;
}

.suptext {
  font-weight: 400;
  font-size: 24px;
  line-height: 38px;
  color: #323649;
}

/* header */
.header {
  padding-top: 44px;
  z-index: 5000;
}

.header .header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header__inner .header__button {
  max-width: 232px;
  margin-left: 138px !important;
}

.header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .nav .nav__link {
  margin: 0 12px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

/* intro */
.intro {
  margin: 0 auto;
  max-width: 1128px;
  padding-top: 136px;
}

.intro .intro__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro .intro__inner .intro__title {
  text-align: center;
  font-size: 56px;
  line-height: 68px;
  margin-bottom: 48px;
}

.intro .intro__button {
  max-width: 208px;
}

/* devices */
.devices {
  margin-top: 110px;
  margin-bottom: 190px;
}

.devices .devices__inner {
  position: relative;
}

.devices .devices__inner .devices__item {
  display: block;
  height: auto;
}

.devices .devices__inner .devices__item--mobile {
  position: absolute;
  right: 0px;
  bottom: -60px;
}

/* products */
.products {
  margin-bottom: 150px;
}

.products .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1380px !important;
  margin-top: 40px;
}

.products .cards .cards__item {
  max-width: 435px;
  max-height: 270px;
  border-radius: 32px;
  padding: 40px;
}

.products .cards .cards__item:nth-child(1) {
  background: linear-gradient(70.41deg, #A038BD 8.21%, #7A1B95 70.54%);
  -webkit-box-shadow: 24px 24px 48px rgba(123, 28, 150, 0.4);
          box-shadow: 24px 24px 48px rgba(123, 28, 150, 0.4);
}

.products .cards .cards__item:nth-child(2) {
  background: linear-gradient(72.04deg, #F3336C 7.08%, #D62056 76.14%);
  -webkit-box-shadow: 24px 24px 48px rgba(191, 7, 61, 0.4);
          box-shadow: 24px 24px 48px rgba(191, 7, 61, 0.4);
}

.products .cards .cards__item:nth-child(3) {
  background: linear-gradient(70.68deg, #5331B3 7.33%, #3F2293 77.56%);
  -webkit-box-shadow: 24px 24px 48px rgba(56, 28, 136, 0.4);
          box-shadow: 24px 24px 48px rgba(56, 28, 136, 0.4);
}

.products .cards .cards__item .detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.products .cards .cards__item .detail .detail__text {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}

.products .cards .cards__item .detail .detail__button {
  margin-left: 15px;
  width: 40px;
  height: 24px;
  background: url(/images/products/arrow.png);
}

/*partners*/
.partners {
  margin-bottom: 150px;
}

.partners .partners__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.partners .partners__section {
  max-width: 400px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: initial;
}

.partners .partners--grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  max-width: 1380px !important;
  row-gap: 60px;
  -webkit-column-gap: 45px;
          column-gap: 45px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.partners .partners--grid .partners__item {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/*problems*/
.problems .problems__container .problems__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: baseline;
      -ms-flex-pack: baseline;
          justify-content: baseline;
  row-gap: 56px;
  -webkit-column-gap: 55px;
          column-gap: 55px;
  margin-top: 40px;
  margin-bottom: 120px;
}

.problems .problems__container .problems__list .problems__item {
  max-width: 408px;
}

.problems .problems__container .problems__list .problems__item .cards__title--problems {
  margin: 5px 0 8px 0;
  color: #323649;
}

.problems .problems__container .problems__list .problems__item .section__text--problems {
  text-align: inherit;
  font-weight: 400;
  color: #666A77;
}

/*help-desk*/
.help-desk {
  max-height: 640px;
  max-width: 1360px;
  margin-bottom: 104px;
}

.help-desk .help-desk__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.help-desk__advatages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  max-width: 590px;
}

.advantages__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

.check__logo {
  max-height: 24px;
  margin-right: 16px;
}

/*services*/
.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: baseline;
      -ms-flex-pack: baseline;
          justify-content: baseline;
  margin-bottom: 120px;
}

.services .services__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services .services__container .services__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 600px;
  margin-right: 167px;
}

.services .services__container .services__list .services__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
}

.services .services__container .services__list .services__row .services__logo {
  max-width: 160px;
  max-height: 160px;
}

.services .services__container .services__list .services__row .services__logo--center {
  max-width: 75px;
  max-height: 48px;
  margin: 0 40px;
}

/* feedback */
.feedback {
  max-height: 460px;
  margin-bottom: 120px;
}

.feedback__title {
  max-width: 535px;
}

.feedback__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  margin-top: 44px;
}

.feedback__slider--arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  right: 0;
  max-width: 108px;
}

.feedback__slider--arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  border: 1px solid #E3E3E7;
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.feedback__slider--arrow:hover {
  background-color: #F3336C;
  border: 1px solid #F3336C;
}

.feedback__slider--arrow-left {
  position: absolute;
  right: 10px;
  bottom: 110px;
  -webkit-transition: background-color .3s linear, border .3s linear;
  transition: background-color .3s linear, border .3s linear;
}

.feedback__slider--arrow-right {
  position: absolute;
  right: -60px;
  bottom: 110px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  background: #FFFFFF;
}

.feedback__slider--items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.feedback__slider--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  margin-right: 80px;
}

.cards__text--feedback {
  color: #323649;
  margin-top: 12px;
  margin-bottom: 16px;
  max-height: 120px;
  width: 616px;
}

.cards__text--feedback-title {
  font-weight: 700;
  color: #323649;
  margin-bottom: 16px;
}

/*blog*/
.blog {
  max-height: 306px;
  margin-bottom: 120px;
}

.blog__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blog__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
  max-width: 1600px;
}

.highlighted__link {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

.blog-extansion__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 131px;
  max-height: 24px;
}

.blog__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  gap: 64px;
  height: 218px;
}

.blog__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 400px;
}

.cards__title--blog {
  color: #323649;
  max-width: 360px;
  margin: unset;
}

.cards__text--blog {
  color: #666A77;
}

.blog__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 244px;
}

.footer__title {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

.footer__title--link {
  font-weight: 400;
}

.article__date {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #9B9DAA;
}

/*form-demo*/
.form-demo__container {
  padding: 96px 117px 96px 120px;
  background: #040931;
  border-radius: 48px;
}

.form-demo__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section__header--form {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 500px;
  height: 272px;
}

.highlighted__suptitle {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 8px;
}

.form-demo__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  color: #FFFFFF;
}

.suptext__form {
  color: #F0F0F6;
}

.form-demo__block {
  padding: 40px 48px 40px;
  background: #FFFFFF;
  border-radius: 24px;
  max-width: 480px;
}

.form-demo__block--inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  gap: 24px;
}

.cards__title--form-demo {
  margin: unset;
  color: #323649;
  max-width: 260px;
}

.demo-form__inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  gap: 24px;
  margin-bottom: 24px;
}

.form-demo__input {
  padding: 12px 16px;
  border: 1px solid #E3E3E7;
  border-radius: 8px;
  height: 48px;
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #9B9DAA;
}

.agreement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 32px;
}

.agreement-checkbox {
  width: 18px;
  height: 18px;
  border-radius: 2px;
  border: 2px solid #C4C4C4;
  cursor: pointer;
}

.agreement-label {
  max-width: 364px;
  padding-left: 14px;
}

.agreement-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #666A77;
}

.agreement-text-highlighted {
  text-decoration: underline;
  color: #F3336C;
}

.agreement-text-highlighted:hover {
  text-decoration: underline;
}

.button__text {
  font-family: 'Sarala', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
}

.title {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  font-size: 48px;
  line-height: 53px;
  color: #404040;
  padding-bottom: 18px;
}

.sub__title {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  font-size: 26px;
  line-height: 26px;
  color: #000000;
  margin: 36px 0 16px 0;
}

.text {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  color: #000000;
}

/* head */
.logo {
  height: 50px;
  cursor: pointer;
}

.head {
  max-height: 928px;
  display: block;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 184px;
}

.head .header__wrapper {
  max-height: 136px;
  padding-top: 75px;
}

.head .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 100%;
}

.head .header .header__menu {
  max-height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
}

.head .header .header__menu .header__menu--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.head .header .header__menu .header__menu--list .header__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 60px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 20px;
  color: #000000;
  text-align: center;
}

.header__border {
  margin-top: 38px;
}

/* head */
/* intro_wrapper */
.intro__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

.intro__wrapper .intro__block {
  margin: 124px 184px 87px;
}

.intro__wrapper .intro__block .intro__title {
  font-family: 'Scada', sans-serif;
  font-weight: 700;
  font-size: 202px;
  line-height: 190px;
  color: #000000;
  letter-spacing: 0.01em;
}

.intro__wrapper .intro__block .intro__offer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  margin-top: 72px;
}

.intro__wrapper .intro__block .intro__offer .intro__image {
  max-width: 1024px;
}

.intro__wrapper .intro__block .intro__offer .offer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  margin: 74px 52px;
  max-width: 365px;
}

.intro__wrapper .intro__block .intro__offer .offer .offer__button {
  margin-top: 32px;
  padding: 28px 57px;
  background: #000000;
  border: 1px solid #000000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #FFFFFF;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
}

.about__block {
  margin: 148px auto 68px;
  max-width: 1288px;
}

.about__text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 49px;
  color: #000000;
}

.about__grid {
  max-width: 1112px;
  margin-top: 68px;
}

/* intro_wrapper */
.secetion {
  padding: 136px 184px 176px;
  background-color: #F1F1F1;
}

.courses__content {
  padding-bottom: 91px;
  font-family: 'Jura', sans-serif;
  font-weight: bold;
  font-size: 64px;
  line-height: 76px;
  color: #000000;
}

.courses__border {
  margin: 68px 184px 0;
  padding-bottom: 24px;
}

.courses__block {
  margin: 24px auto 0;
}

.courses__block .courses-item {
  padding-top: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

.courses__block .about__courses {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  width: auto;
  margin-bottom: 68px;
}

.courses__block .about__courses .courses__title {
  font-family: 'Jura', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 47px;
  color: #000000;
}

.courses__block .about__courses .courses__text {
  max-width: 760px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 150%;
}

/* */
.start__stading-block {
  width: 1920px;
  height: 602px;
  background-color: #000000;
}

.start__stading-block .start__stading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.start__stading-block .start__stading .start__stading-title {
  padding-top: 167px;
  max-width: 988px;
  margin: 0 auto;
  text-align: center;
  font-family: 'Jura', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 64px;
  color: #FFFFFF;
}

.start__stading-block .start__stading .form__button {
  background: #FFFFFF;
  height: 80px;
  margin: 60px auto;
  width: 350px;
}

.start__stading-block .start__stading .form__button .form__button-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  width: 235px;
}

.footer__courses {
  background: #F1F1F1;
  height: 100px;
  margin-bottom: 38px;
}

.footer__courses .footer__text {
  text-align: center;
  padding-top: 38px;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  color: #464646;
}
/*# sourceMappingURL=style.css.map */